@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "mixin.css";

:root {
  --xl-size: 20px;
  --xl-lh: 1.5;
  --lg-size: 18px;
  --lg-lh: 28px;
  --md-size: 16px;
  --md-lh: 1.5;
  --sm-size: 14px;
  --sm-lh: 20px;

  --h-xl-size: 60px;
  --h-xl-lh: 72px;
  --h-xl-ls: -0.02em;
  --h-lg-size: 48px;
  --h-lg-lh: 60px;
  --h-lg-ls: -0.02em;
  --h-md-size: 36px;
  --h-md-lh: 44px;
  --h-md-ls: -0.02em;
  --h-sm-size: 30px;
  --h-sm-lh: 38px;
  --h-xs-size: 24px;
  --h-xs-lh: 32px;

  font-family: "Inter";
  @mixin text md;
}
