@import "./mixin";

.btn {
  @mixin button;
}

.btn--lg {
  gap: 12px;
  padding: 16px 28px;
  @mixin text lg;
  line-height: 26px;
}

.btn--sm {
  padding: 8px 14px;
  @mixin text sm;
}

.btn--sec {
  background: var(--white);
  color: var(--gray-700);
  border: 1px solid var(--gray-300);
  box-shadow: var(--shadow-xs);
  &:hover {
    background: var(--gray-50);
    color: var(--gray-800);
  }
}

