.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  padding: 12px 20px;
  box-sizing: border-box;

  background: var(--primary-600);
  color: var(--white);

  font-weight: 600;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;

  cursor: pointer;
  border: none;

  &:hover {
    transition: 0.2s background;
    background: var(--primary-700);
  }
}

.btn--lg {
  gap: 12px;
  padding: 16px 28px;
  @text lg;
  & {
    line-height: 26px;
  }
}

.btn--sm {
  padding: 8px 14px;
  @text sm;
}

.btn--sec {
  background: var(--white);
  color: var(--gray-700);
  border: 1px solid var(--gray-300);
  box-shadow: var(--shadow-xs);
  &:hover {
    background: var(--gray-50);
    color: var(--gray-800);
  }
}
