.row {
  width: var(--row-width);
  margin: 0 auto;
  position: relative;
}

.extbg {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
  }

  &::before {
    left: var(--row-ext);
    right: 100%;
    background: inherit;
  }
  &::after {
    right: var(--row-ext);
    left: 100%;
    background: inherit;
  }
}

.bgRow {
  composes: row;
  composes: extbg;
}
